# Ignore everything
/*

# Folders
!/gradle
!/src
!/.github

# Files
!/.gitignore
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/HEADER
!/LICENSE
!/README.md
!/settings.gradle
!/.editorconfig
/checkstyle.xml
/crowdin.yml
/src/main/resources/1.20.2_minecraft_kaizo_edition_013.zip
